.icon {
  width: 20px;
  cursor: pointer;
}

.song {
  position: relative;
}

.songTitle {
  background-color: white;
  margin-left: -10px;
  margin-right: -10px;
  border-bottom: solid whitesmoke .5px
}

.myModal {
  /* min-width: 75% !important; */
  max-width:  620px !important;
}

.editor {
  width: 100% !important;
}

.lyricBox {
  border: dashed 1px lightgray;
  border-radius: 10px;



}

.arrows{
  /* float: right; */
  position: absolute;
  right: 5%;
}

.del{
  position: absolute;
  right: 2%;
  top: 33%;
}

/* .song{
  position: relative;
} */

