.icon {
  width: 20px;
  cursor: pointer;
}

/* .song {
  margin: 1%;
  padding: 1%;
} */

.songTitle {
  background-color: white;
  margin-left: -10px;
  margin-right: -10px;
  border-bottom: solid whitesmoke .5px
}

.myModal {
  /* min-width: 75% !important; */
  max-width:  620px !important;
}

.editor {
  width: 100% !important;
}

.lyricBox {
  border: dashed 1px lightgray;
  border-radius: 10px;



}

/* .song{
  position: relative;
} */

